.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 90%;
  list-style: none;
  padding-right: 40px;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border: 2px solid #896b60;
  border-radius: 10px;
  overflow: hidden;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  color: #ff6f47;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: -3px;
  margin-left: -5px;
}
.complete-btn {
  color: rgb(11, 212, 162);
  background: white;
}
.todo-item {
  padding: 0.5rem 0.5rem;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.fall_left {
  transform: translateY(-10rem) rotateZ(-20deg);
  opacity: 0;
}

.title {
  text-align: center;
  margin-top: -25px;
}

.close {
  margin-left: 270px;
  margin-top: 10px;
}

#description {
  color: #4a332d;
  font-size: 16px;
  margin: 0px 30px;
}
