.allcontent {
  background-color: #f6f0e9;
  width: 316px;
  height: 550px;
  margin: auto;
  outline-color: black;
  outline-style: solid;
  outline-width: thin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  display: block;
}

h2 {
  color: #583101;
  font-size: 28px;
  font: bold;
  font-family: Arial;
}

.topbanner {
  position: relative;
  top: 0;
  overflow: auto;
  transform: translate(13%, 30%);
  text-align: center;
  width: 80%;

  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
}

.fridgecontents {
  position: relative;
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  padding-top: 20px;
  /* transform: translate(0%, 0%); */
  font-size: 16px;
  font-family: Arial;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 14% 40% 10% 10% 4% 10% 15%;
  grid-template-areas: ". dropdown . add-item . delete-item .";
}

.dropdowns {
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  padding-bottom: 20px;
  grid-area: dropdown;
  /* position: relative; */
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  /* padding-bottom: 10px; */
}
select {
  /* appearance: none; */
  outline: 0;
  /* background: green; */
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  /* cursor: pointer; */
  border: 1px solid black;
  border-radius: 3px;
}

#fridgecat {
  text-align: center;
  display: block;
  /* margin-left: 45px; */
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  /* transform: translate(13%, 0%); */
  width: 125px;
  border-style: double;
  font-size: 16px;
  padding: 3px;
}

/* #add-item button {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
} */

.additems {
  grid-area: add-item;
}

.delitems {
  grid-area: delete-item;
}

.additems img {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  float: left;
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
}

.delitems img {
  width: 31px;
  height: 31px;
  outline: none;
  border: none;
  float: left;
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
}

.fridgeitems {
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  /* display: inline-block; */
  transform: translate(-18.5%, 0%);
  /* padding-top: 20px; */
  /* text-align: left; */
  height: 255px;
  overflow-y: auto;
}

.fridgeitems label {
  width: 12em;
  float: right;
  font-size: 18px;
}

.fridgeitems label input {
  margin-right: 25px;
}

input[type="checkbox"] {
  background-color: #fff;
  width: 22px;
  height: 22px;
  transform: translateY(5px);
  border-color: #583101;
}

.findrecipes {
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  padding-top: 20px;
  text-align: center;
}

.findrecipes button {
  background-color: #5e503f;
  color: #fcf4f0;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  transition-duration: 0.4s;
}

button {
  padding: 3px;
}

button:active {
  background-color: #f6f0e9;
  color: black;
}

#modal {
  display: none;
  /* position: fixed; */
  z-index: 1;
  background-color: #f6f0e9;
  width: 316px;
  height: 550px;
  margin: auto;
  outline-color: black;
  outline-style: solid;
  outline-width: thin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  /* display: block; */
}

#modal-add {
  background-color: #f6f0e9;
  padding: 20px;
  /* border: 2px solid #5e503f; */
  /* transform: translate(0%, 5%); */
  color: #583101;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  border-radius: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tabs {
  height: 50px;
  position: absolute;
  bottom: 0;
  overflow: auto;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 310px;
}

input {
  font: Arial;
  font-size: 16px;
  width: 76%;
}

select {
  font: Arial;
  font-size: 16px;
  width: 80%;
  padding: 3px;
}

.add-item-form-button button {
  background-color: #5e503f;
  color: #fcf4f0;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  transition-duration: 0.4s;
  text-align: center;
}

.form-popup {
  display: none;
}

/* #add-btn button {
  all: unset;
  cursor: pointer;
} */
