h2 {
  color: #583101;
  font-size: 28px;
  font: bold;
  font-family: Arial;
}

p {
  color: #4a332d;
  font-size: 16;
}

.topbanner {
  position: relative;
  top: 0;
  overflow: auto;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

.text_box {
  border: 3px solid #896b60;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  display: block;
  width: 71%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  color: #8e8e8e;
  margin-left: 14%;
}

.grid-container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 14% 40% 10% 10% 4% 10% 15%;
  grid-template-areas: ". store-label . add-store . delete-store .";
}

.storelabel {
  grid-area: store-label;
  color: #583101;
}

.addstore {
  grid-area: add-store;
}

.delstore {
  grid-area: delete-store;
}

.storelist {
  margin-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 14%;
}

.storelist label {
  width: 12em;
  float: left;
  font-size: 16px;
}

.storelist label input {
  margin-right: 15px;
}

input[type="checkbox"] {
  background-color: #fff;
  width: 20px;
  height: 20px;
  transform: translateY(3px);
  border-color: #583101;
}

.store {
  /* outline-color: black;
  outline-style: solid;
  outline-width: thin; */
  width: 300px;
  height: 30px;
}
