
.allcontent {
  width: 316px;
  height: 550px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  position: absolute;
  display:block;
}

.tags {
  top: 10px;
  margin: auto;
  font-family: Arial;
  position: relative;
  padding: 20px;
}

.listcontents{
  width: 310px;
  height: 355px;
  margin: auto;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  position:relative;
}

.tagLabels {
  position:relative;
}

.list-title{
  position: relative;
  top: 25px;
  text-align: center;
}





#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
  left:0px;
}

.close {
  margin-left: 270px;
  margin-top: 10px;
  color: #896B60;
}


input[type="checkbox"] {
  background-color: #fff;
  width: 22px;
  height: 22px;
  border-color: #583101;
  transform: translateY(5px);
  font-family: Arial;
}



table tr.checked {
  text-decoration: line-through;
  background-color: #ebebeb;
}

.addButton {
    margin:0;
    right: 30px;
    position:absolute;
    grid-area: add-item;
}


/* ------------------------------------
/  Form Styling
/  ----------------------------------*/
.form-popup {
  display: none;
}

.form-title {
  position: absolute;
  top: 25px;
  text-align: center;
  left:30%;
}

.formContents{
  position:relative;
  left:20px;
  top:30px;
}

.input_box {
  border: 3px solid #896B60;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  display: block;
  width: 83%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  color:#8e8e8e;
}

/*.multiselect {
  width: 83%; 
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}
.innerSelectBox {
  position: relative;
  border: 3px solid #896B60;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 0px;
  padding-left: 12px;
  color:#8e8e8e;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
*/

.add-item-submit-button{
  width: 130px;
  height: 40px;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 1px;
  border: 3px solid #896B60;
  background: #896B60;
  color: #F5F2EA;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 1.0s;
  left: 20%;
  position: relative;
  top: 20px;
}

ul {
  list-style: none;
  left:0px;
}




