
.allcontent {
  width: 316px;
  height: 550px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  position: absolute;
  display:block;
}

.tags {
  top: 10px;
  margin: auto;
  font-family: Arial;
  position: relative;
  padding: 20px;
}

.listcontents{
  width: 310px;
  height: 355px;
  margin: auto;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  position:relative;
}



.list-title{
  position: relative;
  top: 25px;
  text-align: center;
}


#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
  left:0px;
}

.close {
  margin-left: 270px;
  margin-top: 10px;
  color: #896B60;
}


input[type="checkbox"] {
  background-color: #fff;
  width: 22px;
  height: 22px;
  border-color: #583101;
  transform: translateY(5px);
  font-family: Arial;
}

.addButton {
  top: 16%;
  right: 20%;
  position:absolute;
  grid-area: add-item;
}

.delButton {
  top:16%;
  right: 9%;
  position:absolute;
  grid-area: add-item;
}



/* ------------------------------------
/  Table Styling
/  ----------------------------------*/
.list-table{
  position: relative;
  top: 40px;
}

table tr.checked {
  text-decoration: line-through;
  background-color: #ebebeb;
}

.table{
  margin:10px;
  text-align: left;
}



.added-checkbox{
  position:relative;
}

.giant{
  display:block;
  position:relative;
  top:10%;
  padding:5px 0px;
  /*display:none;
  */
}

.giant-tbl-title{
  display:block;
  position:relative;
  left:15px;
  color: #4A332D;
  font-size: 16px;
  font-weight: bold;
}

.giant-tbl{
  position:relative;
  left:15px;
}

.tj{
  display:block;
  position:relative;
  padding:5px 0px;
  /*
  display:none;
  
  color: #4A332D;
  font-size: 16px;
  left:15px;
  */
}

.tj-tbl-title{
  display:block;
  position:relative;
  left:15px;
  color: #4A332D;
  font-size: 16px;
  font-weight: bold;
}

.tj-tbl{
  position:relative;
  left:15px;
}

/*
.added-item{
  font-weight: normal;
}
*/

/* ------------------------------------
/  Form Styling
/  ----------------------------------*/
.form-popup {
  display: none;
}

.form-title {
  position: absolute;
  top: 25px;
  text-align: center;
  left:30%;
}

.formContents{
  position:relative;
  left:20px;
  top:30px;
}

.input_box {
  border: 3px solid #896B60;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  display: block;
  width: 83%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  color:#8e8e8e;
}

.add-item-submit-button{
  width: 130px;
  height: 40px;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 1px;
  border: 3px solid #896B60;
  background: #896B60;
  color: #F5F2EA;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 1.0s;
  left: 20%;
  position: relative;
  top: 20px;
}

ul {
  list-style: none;
  left:0px;
}




/*
 * Icon Styling
*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  cursor: pointer;
  color: #896b60;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}